
:root {
  --black--main: rgba(0, 0, 0);
  --semi-black: rgb(21, 18, 18);
  --white-main: #fff;
  --light-white: #e0d4d4;
  --red-main: #a01111;
  --semi-red: #9c1832;
  --orange-main: #ffa500;
  --orange-semi: #eed19a;
  --gray-main: rgb(130, 130, 123);
  --secondary-white: #f5f5f5;
  --gray-secondary: rgb(132, 130, 130);
       --black--main: rgba(0, 0, 0);
  --semi-black: rgb(21, 18, 18);
  --white-main: #fff;
  --light-white: #e0d4d4;
  --red-main: #a01111;
  --semi-red: #9c1832;
  --orange-main: #ffa500;
  --orange-semi: #eed19a;
  --gray-main: rgb(130, 130, 123);
  --secondary-white: #f5f5f5;
  --gray-secondary: rgb(132, 130, 130);
  /* External Configs- Style */
   --botanical-green: #7c8055;
  --herbal-cream: #f6f4ef;
  --muted-clay: #c46a4a;
  --deep-charcoal: #2e2e2c;
  --herbal-amber: #d8a84e;
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;
  --nav-background: rgba(246, 244, 239, 1);
}

a{
  text-decoration: none;
  color: var(--white-main);
}
.container-fluid{
  background: var(--black--main) !important;
}
/* Hero section */
#hero {
  background: url(https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center center/cover;
  /* height: 99vh; */
  color: var(--white-main);
  padding: 5px 20px;
}
.main-text-home{
    max-width: 50%;
}
.homeText {
  margin: 15px 0;
}
.homeText h1 {
  line-height: 1.5;
  /* letter-spacing: 2px; */
  font-weight: bold;
  font-size: 2rem;
}
.homeText p {
  line-height: 2;
  margin: 15px 0;
}
.homeText aside {
  line-height: 2;
}
.shop-cart {
  margin: 20px 0;
}
/* #shop-nowBtn {
  padding: 8px 25px;
  background: transparent;
  color: var(--white-main);
  border: 2px solid var(--white-main);
  text-transform: uppercase;
  border-radius: 5px;
} */
#shop-nowBtn:hover {
  background: var(--orange-main);
  color: var(--white-main);
  border: 2px solid var(--orange-main);
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-15px);
}
.shop-right,
.cart-icon-add {
  position: relative;
  left: 4px;
  align-items: center;
  top: 3px;
}
#shop-nowBtn{
  background: transparent;
  border: 2px solid var(--secondary-white);
  padding: 7px 13px;
}
#cartBtn{
  padding: 7px 13px;
  background: var(--herbal-amber);
}
/* #cartBtn {
  padding: 8px 25px;
  background: var(--orange-main);
  color: var(--white-main);
  border: 2px solid var(--orange-main);
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0 10px;
} */
#cartBtn a {
  color: var(--white-main);
  text-decoration: none;
}
#cartBtn:hover {
  background: transparent;
  color: var(--white-main);
  border: 2px solid var(--white-main);
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-15px);
}

@media screen and (min-width: 0) and (max-width: 760px) {
    .main-text-home{
    max-width: 95%;
}
}