


:root{
     --black--main: rgba(0, 0, 0);
  --semi-black: rgb(21, 18, 18);
  --white-main: #fff;
  --light-white: #e0d4d4;
  --red-main: #a01111;
  --semi-red: #9c1832;
  --orange-main: #ffa500;
  --orange-semi: #eed19a;
  --gray-main: rgb(130, 130, 123);
  --secondary-white: #f5f5f5;
  --gray-secondary: rgb(132, 130, 130);
  /* External Configs- Style */
   --botanical-green: #7c8055;
  --herbal-cream: #f6f4ef;
  --muted-clay: #c46a4a;
  --deep-charcoal: #2e2e2c;
  --herbal-amber: #d8a84e;
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;
  --nav-background: rgba(246, 244, 239, 1);
}
::-webkit-scrollbar{
    display: none;
}

/* *{
    background: var(--herbal-cream);
} */
 body{
         background: var(--herbal-cream);

 }
.products-container{
    padding: 20px 20px;
}
.p-container-holder-main{
    container-type: inline-size;
    container-name: p-card-container;
}
.p-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}
.p-container-card{
    background: var(--white-main);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
    border: 1px solid var(--light-white);
}
.faded-white{
    background: var(--light-white);
}
.features-insider-brief{
    padding: 3px 10px;
}
.features-insider-brief p{
    position: relative;
    top: 7px;
}
#f-details-btn{
    transition: .3s ease;
}
#f-details-btn:hover{
    transform: translateY(-2px);
    background: var(--black--main) !important ;
}

#loaderProducts{
    display: grid;
    place-content: center;
    align-items: center;
    min-height: 50vh;
}
#price-tag{
    background: var(--orange-semi);
    font-weight: bold;
    transition: .3s ease;
}
#price-tag:hover{
    transform: scale(1.07);
}
.container-global-description{
    container-type: inline-size;
    container-name: product-descriptions;
}
.product-img-description-specs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
.product-img-key-features, .specs-container-main, .description-large-left{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.features-list > div{
    background: var(--light-white);
    padding: 8px;
    border-radius: 8px;
}
#imageURL{
    width: 80%;
}
.features-list{
    flex-wrap: wrap;
}
#cart-add-cta-btn{
    color: var(--white-main) !important;
}
#btn-buy-now{
    border: 1px solid var(--gray-secondary);
    transition: .3s ease-in-out;
}
#btn-buy-now:hover{
    outline: 3px solid var(--light-white);
    border: 1px solid var(--light-white);
    background: var(--herbal-amber);
    transform: scale(1.02);
}
#svg-cart{
    margin-right: 2px;
    /* padding: 2px; */
}
/* Using Container Queries */
@container p-card-container (width <= 1024px) and (width > 750px) {
    .p-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}


@container p-card-container (width <= 750px) {
    .p-holder {
        grid-template-columns: 1fr;
    }
}

@container product-descriptions (width <= 750px) {
    .product-img-description-specs{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
}

/* @media screen and (min-width: 0) and (max-width: 750px) {
    
} */